*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
**/build/
/captures/
/app/release/
*.apk
*.ap_
*.aab
*.dex
*.class
*.log
.cxx/
.externalNativeBuild/
.kotlin/
*.hprof
.navigation/
*.keystore
*.jks
google-services.json
.vscode/
*.swp
*~
.cache/
